.flashcard-container {
    width: 100%;
    max-width: 600px;
    height: 300px;
    perspective: 1000px;
}

.flashcard {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s, opacity 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.flashcard.hidden {
    opacity: 0;
    transform: scale(0.95);
}

.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
}

.front {
    background: #cfe2ff;
    color: #0d47a1;
    display: flex;
    padding: 20px;
}

.front h3 {
    font-size: 18px;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.back {
    background: #ffd6a5;
    transform: rotateY(180deg);
    color: #5d4037;
    display: flex;
}

.btn-arrow {
    background: transparent;
    border: none;
    cursor: pointer;
}
.btn-arrow:hover {
    transform: scale(1.1);
}